html {
    height: 100%;
}

*{
    font-family: cursive;
    font-size: 1.5rem;
    margin: 0;
    padding: 0;

}
body{
    
     background-image:  url("https://images.pexels.com/photos/33597/guitar-classical-guitar-acoustic-guitar-electric-guitar.jpg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ; 
    overflow: hidden;
    
    background-size: cover;
    
    
    
}
.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}
p{
    text-align: center;
    padding: 30px;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    font-family: cursive;
    color: rgb(54, 54, 54);
    background-color:rgba(80, 153, 221, 0.75);
}
#btn{
    position: absolute;
    top: 70%;
    left: 28%;
    
}
select{
    border: 1px solid black;
    box-shadow: 8px 10px 26px 0px rgba(0,0,0,0.75);
    width: 30%;
    
    
    
}
select:hover{
    background-color:rgba(80, 153, 221, 0.75) ;
}